
.hero-section {
    background-image: url('../../../assets/blurred/imageonline-co-blurimage.jpg');    
   background-repeat: no-repeat;
   background-size: 100%;
}

.discover {
    display: flex
}

.perfect {
    
    margin-left: 7rem;
    margin-bottom: 12rem;
}

.main-discover {
    margin-top: 4rem;
    font-size: 4.5rem;
}

.main-discover-para {
    font-size: 1.2rem;
}